/* You can add global styles to this file, and also import other style files */

$extension: ".png";
$color: red;

:root {
  --color-active: #{$color};
  --image: url(#{"https://upload.wikimedia.org/wikipedia/commons/b/b6/Image_created_with_a_mobile_phone" + $extension});
}

html, body {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
