:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#square {
  position: absolute;
  top: 200px;
  left: 200px;
  background-color: dimgray;
  width: 100px;
  height: 100px;
}

textarea {
  width: 300px;
  height: 200px;
  overflow: scroll;
  resize: none;
}

input {
  width: 200px;
  height: 200px;
}
